@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F59E0B;
  --dark-gray: #6B7280;
  --off-white:#F3F4F6;
}


.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
}

header h1 {
  font-family: "Megrim", cursive;
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  padding: 0 0.5rem;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  margin-top: 10vh;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
  html {
    background-color: var(--background-dark);
    color: var(--black);
    height: 100%;
  }
  
  * {
    font-family: "Montserrat", sans-serif;
  }
  
  .header {
    text-align: center;
    margin-top: 100px;
  }

  #date-of-birth,#lucky-number{
    
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 95%;
  margin-bottom: 5vh;
 text-align: center;
  }
  /* list */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}


/* container */
main{
  margin:10vh;
  padding:5vh;
  text-align: center;
}

.link {
  text-decoration: none;
  padding: 0. 1rem;
}

  
  label,
  input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
  }
  
  label {
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  input {
    border-radius: 5px;
    padding: 0.5rem;
    border: transparent;
    font-size: large;
    margin: 1rem 0;
    width:100%;
  }
  
  #output-box {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: x-large;
    border-color: var(--black);
    border-width: medium;
    border-radius: 5px;
  }
